#title {
    text-align: center;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}

body {
    background-color: #FBAC18;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    color: white;
}

p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: white;
}

* {
    box-sizing: border-box;
}
/*to create a multi-column layout */
.column {
    float: left;
    width: 50%;
    padding-left: 100px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/*to separate visualisation sections*/
.tournament-overlay {
    background-color: #28397F;
    padding: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
}

#tourney_map, #prizepool_linechart {
    padding-left: 35px;
}

#display_center {
    display: flex;
    justify-content: center;
}

/*animation to enlarge and return to original size for tournament icons*/
#iconsLower {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    transition: transform 0.3s;
}

#iconsLower img {
    transition: transform 0.5s;
    margin-bottom: 20px;
}

#iconsLower img:hover {
    cursor: pointer;
    transform: scale(1.2);
}


/*changes select year label to white*/
label {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}